/* MOBILE SECREENS */
@media screen and (min-width:350px) and (max-width:619px)  {
   
    .clock-box {  
    display: none;
      
    }
    .full{
        display: none;
    }
    nav {
    
        /* background-color: rgba(199, 192, 192, 0.921); */
        position: fixed;
        top:0;
        left:0;
        display: flex;
       width: 100%;
        background-color: #dbd4cb;
        /* height: 4rem; */
        padding: 0 .5rem;
        font-size: 20px;
      
    }
 
    .coding,
    .socials p,
    .socials span{
        display: none;
    }


    #who {
        /* margin-left: 2rem; */
        
        top:15rem;
        right: 3.5rem;
        font-size: 6rem;
        padding:0;
        margin-left:1rem;
        
    }
    .personal-info {
        width: 90%;

    }
    .mohannad {
        top: 15.8rem;
        left:-50px;
        /* right: 2.5rem; */
        font-size: 6rem; 
        z-index: 40;
        padding:0;
        margin:0;
       
    }
    .sabea {
        left: 8rem;
        top: 21rem;
        font-size: 6rem;
        z-index:70;
        padding:0;
        margin:0;
    }
    .details {
       top:34rem;
       left:0;
        font-size: 1.5rem;
        padding: .2rem;
       
        
    }
 
#skills-services{
    height: 700px;
   /* padding: 1rem .5rem; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    /* justify-content: center; */
   padding:.75rem;
   
   
}
  .why{  

   grid-row: 1/2;
   margin:0;
   padding: 0;
 }
 .why__heading {font-size: 1.4rem;}
 .why__list {
  padding: .5rem 1rem;
    font-size: 20px;
 }
 .services {
    align-self: start;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 330px;
    margin:0;
   
 }
 .services h1 {font-size: 2rem;}
 .skills {
    height: 85%;
    /* border: 1px solid black; */
    /* box-shadow: inset 0 0 1px 1px black; */
    overflow-y: scroll;
    grid-template-columns: repeat(2,1fr);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.311);
 }

 footer {height: 400px;}

#footer-container {
display: grid;
grid-template-columns: 1fr;
border:none;
padding:0;
 }


     .form-container label{
            margin-left: 1rem;
            }
    .form-container h1 {
        font-size:25px
    }
        
          
 .form-container{
    grid-row: 1/2;
    width: 100%;

 }
 .form-container h1 {margin:0;}
 .form-container button {
    margin:.57rem auto;
     font-size: 14px;
}
 
 .socials {
    grid-row:2/3;
    display: flex;
    margin-top: .5rem;
    justify-content: center;
   
 }
 .socials a {
    padding:.57rem;
    background-color: unset;
    font-size: 20px;
 }
 .socials p { display: none}
 
 .legal {width: 100%;}
 .legal h4 {display: none;}
 .legal a {font-size: 13px;}
 .rights {
    grid-row: 4/5;
  
 }


}
